.Session{
    background-color: #619a92; /* Green */
    color: rgb(82, 135, 160);
    padding: 14px 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    color: #fff;

    border-radius: 8px;
   
}
.id_session{

    
    color: black;
    
}

.sessionKey{
    border: none;
    border-bottom: 2px solid #619a92;
    padding: 14px 50px;
    font-size: 16px;
    font-weight: bold;
}

.form{
    
    border-radius: 25px;
    border: 2px solid #619a92 ;
    padding: 150px;
    width: 600px;
    height: 150px; 
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    text-align: center;
    
    text-align: center;

    margin-top: 200px;

    
}
.home{
    

}

