.container {
  position: relative;
  display: inline-block;
  border: solid 5px transparent;
  transition: border 0.5s;

  #canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &.danger {
    border: solid 5px red;
  }
  img {
    width: 100%;
    position: relative;

  }
}
